@import url(//https://fonts.google.com/?query=lato);


@font-face {
  font-family: "cocogoose";
  src: url("../COCOGOOSE/Cocogoose_trial.otf") format("opentype");
  }


* {
  font-family:
    cocogoose,
    'lato',
    "Franklin Gothic Medium",
    "Arial Narrow",
    Arial;
}

.color-black {
  color: #272a31;
}

.color-orange {
  color: #ec5242;
}

.color-grey {
  color: #d3d3d3;
}

.color-white {
  color: white;
}

.bg-black {
  background-color: #272a31;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: rgba(30, 30, 30, 0.7);
}

.bg-grey2 {
  background-color: #d3d3d3;
}

.bg-orange {
  background-color: #ec5242;
}

.font-12 {
  font-size: 12px;
}

.border-red {
  border: solid 3px #ec5242;
}

.first-section {
  position: relative;
  height: 90vh;
  width: 100%;
}

.first-section::before {
  content: "";
  background-image: url("../images/practicle-session.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.section-header-hr {
  border-top: 1px solid #ec5242;
  width: 4%;
  margin: auto;
}

.second-section-activities {
  background-color: rgba(87, 77, 77, 0.9);
  cursor: pointer;
}

.second-section-activities:hover {
  border: 3px solid #fff;
}

.past-lessons {
  height: 15em;
  width: 15em;
  color: #fff;
  cursor: pointer;
  background-size: cover;
}

.past-lesson-1 {
  background:
    linear-gradient(rgba(236, 82, 66, 0.7), rgba(238, 171, 164, 0.7)),
    url("../images/october-19.JPG");
  background-position: center;
  background-size: 130%;
}

.past-lesson-2 {
  background:
    linear-gradient(rgba(236, 82, 66, 0.7), rgba(238, 171, 164, 0.7)),
    url("../images/october-2019.JPG");
  background-position: center;
  background-size: 120%;
}

.past-lesson-3 {
  background:
    linear-gradient(rgba(236, 82, 66, 0.7), rgba(238, 171, 164, 0.7)),
    url("../images/chatting-with-the-student.jpg");
  background-position: 60% 45%;
  background-size: cover;
}

.past-lesson-4 {
  background:
    linear-gradient(rgba(236, 82, 66, 0.7), rgba(238, 171, 164, 0.7)),
    url("../images/Lecture-Hall.jpg");
  background-position: center;
  background-size: 130%;
}

.hr-30-left {
  width: 30px;
  text-align: left;
  margin-left: 0;
}

a:hover {
  color: black;
}
